<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.pms.mapper.SkuAttrValueMapper">

    <select id="querySkuAttrValuesBySkuId" resultType="SkuAttrValueEntity">
        SELECT a.* FROM pms_sku_attr_value a JOIN pms_attr b ON a.`attr_id`=b.`id` WHERE a.sku_id=#{skuId} AND b.search_type=1
    </select>
</mapper>
